<mat-card *ngIf="pageLoaded">
  <mat-card-header>
    <mat-card-title> <h1>Mac Ayrintilari</h1></mat-card-title>
    <mat-card-subtitle>{{ match_id }} nolu mac</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex-row justify-around">
      <h1>{{ matchData.radiant_score }}</h1>
      <h1>{{ matchDuration }}</h1>
      <h1>{{ winningTeam }} Galibiyeti</h1>
      <h1>{{ matchData.dire_score }}</h1>
    </div>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>

<mat-spinner *ngIf="!pageLoaded"></mat-spinner>
